*,*:before, * :after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    
}

@font-face {
    font-family: Grotesque;
    src: url(../FONTS/GalanoGrotesque/Rene\ Bieder\ -\ Galano\ Grotesque\ Bold.otf);
    font-weight: bold;
  }

  @font-face {
    font-family: Grotesque;
    src: url(../FONTS/GalanoGrotesque/Rene\ Bieder\ -\ Galano\ Grotesque\ Medium.otf);
    font-weight: normal;
  }
body{
    font-family: 'Grotesque', sans-serif;
    background-color: #fff;
}

.titulo{
    background-image: url("../IMG/Fondo2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.titulo2{
    background-image: linear-gradient(120deg, #75a93a6c 0%, #0e5e335e 100%), url("../IMG/Fondo2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 0 0 40px  0;

}

.titulo2 div{
    max-width: 800px;
    margin: auto;
}

.titulo h1{
    padding: 100px 10px;
    font-size: 48px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.contenedor{
    width: 95%;
    max-width: 1000px;
    margin: auto;
    padding: 30px 0 30px 0;
}

.contenedorc{
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
    
}

.flex{
    display: flex;
}

.contenedorb{
    width: 40%;
    max-width: 1000px;
    min-width: 300px;
    margin: auto;
    padding: 30px 0 30px 0;
}

.slider, .menuslides{
    list-style: none;
    margin: 0;
}

.cajas{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cajas2{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.cajasar{
    width: 100%;
    display: flex;  
    overflow-y: scroll;
}

.cajas h2{
    color: #0E5E33;
}

.cajas p{
    font-size: 16px;
    margin: 10px 0;
}

a{
    text-decoration: none;
}

.btn{
    margin: 30px 0;
}

.btnverde{
    background-color: #75A93A;
    border-radius: 3px;
    padding: 10px 40px;
    color: #0E5E33;
}


.cajas img{
    width: 100%;
}

.espacio_cajas {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.espacio_cajas2{
    width: 400px;
}

.texto_cajas{
    width: 400px;
    background-color: aqua;
}

.espacio_cajasb{
    max-width: 50%;
}

.zonaverde{
    margin-top: 80px;
    color: #fff;
    font-size: 25px;
    text-align: center;
}

.zonaverde h1{
    padding: 30px 0 0 0;
}

.zonaverde h2{
    padding-bottom: 30px;
}

.arboles_donantes img{
    max-width: 300px;
    max-height: 300px;
}

.titulosverdes{
    color: #0E5E33;
    text-align: center; 
    font-size: 24px;
}

.lineas{
    width: 100%;
    justify-content: center;
    text-align: center;
    color: #0E5E33;
    margin: 0;
    font-style: bold;
    font-size: 48px;
    text-transform: uppercase;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #0E5E33;
    -webkit-text-stroke-width: 2px;
}

.btn-centro{
    display: flex;
    justify-content: center;
    margin: 0 auto 30px auto;
}

.nomarging{
   margin-top: 40px;
    margin-bottom: -30px;
}

.auto{
    margin: 5px auto; 
}

.wrap{
    flex-wrap: wrap;
}
.cards{
    margin: 5px auto;
    width: 250px;
    border-radius: 8px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.cards img{
    width: 100%;
}

.margen{
    margin: 8px 5px;
}

h2.card{
    font-size: 18px;
    font-weight: bold;
}

p.card{
    font-size: 12px;
    padding-bottom: 10px;
}

.centro{
    align-items: center;
}

.lado_b{
    width: 50%;
} 

.lado_c{
    width: 400px;
} 

.lado_c img{
    width: 400px;
}

.lado_b img{
    width: 400px;
}

.donantes{
    display: flex;
    margin: auto;
    background-color: #75A93A;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    width: 60%;
}

.donantesm{
    margin-top: -100px;
}

.donantesm h2{
    width: 100%;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.contenedor h2{
    width: 100%;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

.donantes img{
    min-width: 300px;
    max-height: 280px;
}

.listadonantes ul{
    list-style: none;
    padding: 0 0 0 20px;
    color: #fff;
    line-height: 28px;    
}

.contacto{
    background-color: #0E5E33;
}

.contactocon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contactocon img{
    max-width: 300px;
}

.contactocon p{
    color: #fff;
    padding: 10px 10px;
}

.Sub_texto{
    color: #9b9b9b;
    font-size: 12px;
}

.redes{
    margin: 10px 0;
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.iconoszv{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.iconoszv img{
    max-width: 200px;
}

.iconoszv p{
    text-transform: uppercase;
}

.zonaverde h1, .zonaverde h2{
    text-transform: uppercase;
}

.space h2{
    padding: 30px;
}

.espcioblanco{
    height: 50px;
}

.busqueda2{
    margin:40px auto;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.busqueda2 input{
    width: 60%;
    height: 40px;
    margin: auto 0;
    border-radius: 8px;
    border-color: #0E5E33;
    box-shadow: rgba(0, 0, 0, 0.2);
}

.busqueda{
    width: 100%;
    position: absolute;
    z-index: 1;
    margin:auto;
    left: 0;
    right: 0;
    max-width: 1200px;
}

.superior{
    z-index: 4;
}

.botonesbusqueda{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.saving_arbol{
    margin-top: 200px;
}
  
.botonesbusqueda input{
    height: 40px;
    width: 200px;
    margin: auto 0;
    border-radius: 8px;
    border-color: #0E5E33;
    box-shadow: rgba(0, 0, 0, 0.2);
}

.descargadonantes{
    margin: 40px auto ;
    width: 300px;
    text-align: center;
}

.descargadonantes ul{
    list-style: none;
}



.desplegable li a{

    background-color: #75A93A;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
}

.desplegable li a:hover{
    background-color: #0E5E33;
}

.desplegable li ul{
    display: none;
}

.desplegable li:hover > ul{
    display: block;
}

.tvheader{
    display: flex;
    margin: -30px auto 0 auto;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    max-width: 1200px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.tvheaderb{
    display: flex;
    margin: -30px auto 0 auto;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}

.tvheader img{
    max-width: 480px;
    max-height: 450px;
    margin: -60px 0 0  0;
}

.tvheader div{
    margin: auto 0;
}

.tvheader h1{
    color: #0E5E33;
    font-size: 30px;
    margin-bottom: 40px;
}

.verrde{
    background-color: #75A93A;
}

.verrde div{
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.verde div div{
    width: 300px;
}

.verrde div h2{
    color: #fff;
    padding: 40px 0 0 0;
    margin: auto;
}

.verrde div p{
    color: #fff;
    margin: auto;
    font-size: 12px;
    padding: 0 0 40px 0;
}

.contenedor h2{
    color: #0E5E33;
}

.box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}

.box2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
   
}

.box img, .box2 img{
    max-width: 250px;
    margin: auto;
}

.box div,.box2 div{
    max-width: 600px;
}

.verrde2{
    background-color: #75A93A;
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
}

.verrde2 img{
    max-width: 300px;
    margin-top: -120px;
    margin-right: 80px;
}

.verrde2 div{
    max-width: 1200px;
    margin: 0 auto;
}

.verrde2 h2, .verrde2 a, .verrde2 p{
    color: #fff;
}

.verrde2 h2{
    font-size: 35px;
}

.verrde2 p{
    margin-top: 30px;
}

.verrde2 a{
    font-size: 20px;
    font-weight: bold;
}

.verrde2 ul{
    list-style: none;
    margin-top: 30px;
    padding: 0;
}

.verrde2 ul a{
    color: #0E5E33;
    padding: 10px 0;
    text-decoration: underline;
}

.tvespacio{
    margin-bottom: 80px;
}

section div iframe{
    width: 480px;
}

.gris{
    font-size: 12px;
    color: #9b9b9b;
}

@media screen and (max-width: 858px){
    .titulo h1{
        padding: 20px 10px;
        font-size: 35px;
        font-weight: bold;
        color: #fff;
        text-align: center;
    } 

    .titulo2 div h1{
        font-size: 35px;
        font-weight: bold;
    }

    .mc{
        text-align: center;
    }

    .lineas{
        font-size: 30px;
    }

    .lado_b{
        display: none;
    } 

    .donantes img{
        display: none;
    }

    .donantesm{
        margin-top: 0;
    }

    .donantesm h2{
        width: 100%;
        color: #0E5E33;
        text-align: center;
        margin-bottom: 20px;
    }

    .contenedor h2{
        width: 100%;
        color: #0E5E33;
        text-align: center;
        margin-bottom: 10px;
    }

    .tvheader{
        display: flex;
        margin: 0 auto ;
        justify-content: space-around;
        flex-wrap: wrap-reverse;
        max-width: 1200px;
        background-color: #f1f1f1;
        border-radius: 8px;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    }
    
    .tvheader img{
        max-width: 100%;
        max-height: 360px;
        margin: 5px 0 ;
    }
    .tvheader div{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
    }

    .verrde2 img{
        display: none;
    }

    .verrde div h2{
        color: #fff;
        padding: 20px 0;
        margin: auto;
        font-size: 18px;
    }

    section div iframe{
        display: flex;
        justify-content: center;
        margin: 10px auto;
        width: 100%;

    }

    .donantes{
        display: flex;
        margin: auto;
        background-color: #75A93A;
        border-radius: 8px;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2);
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px;
        width: 80%;
    }

    .verrde2{
        text-align: center;
    }

    .espacio_card{
        background-color:#efeeeb;
        text-align: center;
        width: 100%;
    }
    .card_body{

        width: 300px;
        text-align: left;
    }

    .tablas3{
        width:  95%;
        margin: 0;
        overflow: scroll
        
    }
    
    .iconos_arbol{
        font-size: 12px;
    }

    .videohome div{
        width: 300px;
    }
    
}

.search-donor{
    display: flex;
    margin: auto;
    background-color: #75A93A;
    border-radius: 8px;
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 20%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    width: 80%;

    
}

.search-donor ul {
    padding: 0.5rem;
}

.search-donor ul li  {
    list-style: none;
    color: #fff;
}

.month-section{
    width: 95%;
    max-width: 1000px;
    margin: auto;
    padding: 30px 0 30px 0;
}
.li-moth{
    display: inline;
    margin: 0.7rem;
    color: #0E5E33;
    cursor: pointer;

}

.ul-month li:hover{
    cursor: pointer !important;
}
.year-select{
    width: 100%;
    height: 7%;
    background: #75A93A;
    border: #75A93A;
    color: #0E5E33;
    text-align-last: center;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
}



.espacio_card{
    background-color:#efeeeb;
    text-align: center;
    width:50%;
    min-width: 350px;
}
.card_body{
    background-color: #fff;
    width: 350px;
    border-radius: 8px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
    margin: auto;
    text-align: left;
}

.card_body img{
    width: 100%;
}

.card_body ul{
    list-style: none;
    margin: 10px;
}

.titulo1{
    font-size: 36px;
    color: #2B478B;
}

.social-sharing{
    width: 158px;
    margin: 10px auto;
}


.social-sharing ul{
    list-style: none;
}

.social-sharing ul li{
    display: inline-block;
    justify-content: space-between;
}

.social-sharing ul svg{
    width: 30px;
    margin: auto 10px;
}

.resultados{
    display: flex;
    flex-wrap: wrap;
}

.mapa{
    margin: auto;
}

.description{
    margin: 10px 0 0 0;
}

/* .wizard-progress{
    margin: auto;
    width: 95%;
    display: flex;
    justify-content: space-around;
} */

.wizard-progress h2, .wizard-progress p, .wizard-progress div{
    text-align: center;
    color: #0E5E33;
}

.title, .sub-title{
    text-align: center;
    color: #0E5E33;
}

.node{
    margin: auto;
    background-color: #75A93A;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.tablas2{
    max-width: 800px;
    margin: 20px auto;
}

.tablas3{
    max-width: 1200px;
    margin: 20px auto;
}

.tablas2 div{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    color: #0E5E33;
    font-weight: bold;
}

.tablas2 table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.tablas3 table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.tablas2 td, .tablas3 td{
    border: 1px solid #0E5E33;
    margin: 0;
    border-spacing: 0;
}

.t1{
    max-width: 20px;
}

.iconos_arbol{
    font-size: 30px;
}

.tdatos{
    margin-top: 20px;
}

.autoar{
    border-radius: 8px;
    margin: auto 20px;
    width: 250px;
    max-height: 300px;
}


.videohome div{
    display: flex;
    width: 100%;
    margin: auto;
    justify-items: center;
}