.contenedor_slider{
    margin: 30px auto auto auto;
    padding: 10px;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

.contenedor_fotos{
   margin: 30px auto auto auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
 width: 100%;
 overflow: hidden;
}

.sliderb{
 width: 50%;
 overflow: hidden;
}


.slidesb{
    width: 500%;
    display: flex;
    justify-items: center;
    align-items: center;
    margin: auto 10px;
}

.slidesb img{
    width: 100%;
    max-width: 450x;
}

.slides{
    width: 500%;
    display: flex;
}

.slides input{
    display: none;
}

.slidesb input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}
.slide section{
    width: 100%;
    display: flex;
}

/* Css para el navegadro manual */

.navigtion-manual{
    width: 100%;
    margin: 20px auto auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigtion-manual2{
    width: 100%;
    margin: -10px auto auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.manual-btn{
    border: 2px solid #0E5E33;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #0E5E33;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

#radio1b:checked ~ .first{
    margin-left: 0;
}

#radio2b:checked ~ .first{
    margin-left: -20%;
}

#radio3b:checked ~ .first{
    margin-left: -40%;
}

#radio4b:checked ~ .first{
    margin-left: -60%;
}